html, body{
    /*font-size: 15px;*/
    /*line-height: 1.6;*/
    height: 100%;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #142233;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.right__card__msg__list::-webkit-scrollbar,
.user__list::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 5px;

}
.right__card__msg__list::-webkit-scrollbar-track,
.user__list::-webkit-scrollbar-track{
    -webkit-appearance: none;
    border-radius: 5px;
    display: none;
}

.right__card__msg__list::-webkit-scrollbar-thumb,
.user__list::-webkit-scrollbar-thumb{
    -webkit-appearance: none;
    border-radius: 5px;
    background: #dedede;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    background-color: #08264B;
    background-color:  #142C41;
}

/*----SEARCH USER-----  */
.search__main{
    margin: 10px 0 10px 10px;
    display: flex;
}

.search__icon{
    /*display: flex;*/
    float: left;
    margin-top: 5px;
    margin-right:10px ;
}
.search__stick{
    height: 30px;
    width: 70%;
    padding: 15px;
    background-color: #142233;
    color: #778899;
    font-size: 16px;
    font-weight: 300;
}

input[type=text] {
    outline: none;
    border-radius: 5px;
    border: none;
}

::placeholder{
    color:#A9A9A9;
    /*color:red;*/
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
}


/*--- USER LIST -----*/
.left__card{
    width: 40%;
    display: inline-block;
    border: 1px solid #213854;
    border-radius: 5px 0 0 5px;
    /*overflow: auto;*/
    height: 100%;

}

.user__list{
    overflow-y: scroll;
    height: 92.5vh;
}

.user__ul__list{
    padding: 10px;
    list-style: none;
    /*margin-bottom: 5px;*/
}

.user__li__list{
    /*margin-bottom: 10px;*/
    height: 65px;
    padding: 10px 0 0 0;
    transition-duration:0.5s ;
    color: #F5F5DC;
}

.user__li__list:hover {
    border-radius: 5px;
    background-color: #0C3261;
    background-color: #1C3851;
    cursor:pointer;
    /*color:	#000000 ;*/
}

.user__pr__name{
    margin-left: 20px;
    width: 400px;
}

.user__profile{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    /*display: inline-block;*/
    float: left;
    background-color: floralwhite;
}

.user__name__text{
    width: 70%;
    /*background-color: #9ca3af;*/
    /*display: inline-block;*/
    /*float: left;*/
}

.user__name{
    display: inline-block;
    /*height: 20px;*/
    margin-top:5px ;
    margin-left: 10px;
    font-size: 18px;

}

.user__last__text{
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 5px 0 10px;
    color: #DCDCDC;
}

.user__msg__time__notif{
    width: 15%;
    /*background-color: #9ca3af;*/
    text-align: end;

}

.column{
    float: left;
}

.user__msg__time{
    display: block;
    margin-top:5px ;
    font-size: 0.7rem;
    color: #DCDCDC;
    font-weight: 300;
}

.user__msg__notif{
    font-size: 0.9rem;
    min-width: 25px;
    min-height: 24px;
    display: block;
    margin-top:5px ;
    background-color:#FF3131;
    border-radius:100%;
    text-align: center;
    float: right;
    padding: 5px;
    border: none;
}



/*---- RIGHT CARD -----*/
.right__card{
    width: 60%;
    float: right;
    border: 1px solid #213854;
    border-radius: 0 5px 5px 0;
    /*height: 100vh;*/
    position: relative;

    background: url('../img/image/background2.jpg')
    center no-repeat;
    -webkit-background-size:cover;
    background-size: cover;
    display: none;

}

.right__card__select{
    width: 60%;
    float: right;
    /*border: 1px solid #213854;*/
    /*border-radius: 0 5px 5px 0;*/
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;
    color: white;
    font-size: 18px;
}

.right__card__header{
    height: 5vh;
    /*height: 5%;*/

    /*background-color: lawngreen;*/
}


/*---- MESSAGES LIST -----*/

.right__card__msg__list{
    height: 88vh;
    /*height: 100%;*/
    overflow-y: scroll;
    /*background-color: red;*/


}

.msg__list__ul{

    font-size: 16px;
    list-style: none;
    margin: auto 0;
    padding-left: 0;
    width: 500px;
    max-width: 600px;
    font-weight: 400;
    /*background-color: #2563eb;*/


}

.msg__list__li{
    font-family: 'Nunito', sans-serif;
    /*display: block;*/
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5rem;
    display: flex;
    cursor: pointer;
}

.msg__card__left{
    border-radius: 5px 5px 5px 0;
    padding:5px 7px 0 7px;
    margin: 5px 0;
    /*padding:5px;*/
    background-color: #0781F1;
    background-color: #142C41;
    width: fit-content;
    max-width: 360px;
    cursor: auto;
}

.msg__card__right{
    display: block;
    padding:5px 7px 0 7px;
    background-color: #0781F1;
    width: fit-content;
    max-width: 360px;
    border-radius: 5px 5px 0 5px;
    margin: 7px 0 7px auto;
    cursor: auto;

}


.msg__text{
    display: block;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    white-space: pre-line;
    font-family: 'Fira Sans', sans-serif;
    width: 90%;
    max-width: 350px;
}

.msg__time{
    font-weight: 500;
    font-size: 10px;
    color:#C3C3C3;
    padding:0 ;
    display: block;
}


/*----FORM----*/
.right__card__form{
    height:6.5vh;
    width: 100%;
    /*background-color: #e5e7eb;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg__form{
    width: 80%;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    position: relative;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    background-color: #142C41;
    padding: 10px 10px;
    border-radius: 5px;
}

.msg__textarea{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    width: 85%;
    outline: none;
    border:none ;
    /*padding: 7px 10px;*/
    resize:none;
    max-height: 150px;
    bottom:0;
    overflow: hidden;
    background-color: #142C41;
    color: #ffffff;
}


.msg__textarea::-webkit-scrollbar-track{
    -webkit-appearance: none;
    border-radius: 5px;
}

.msg__textarea::-webkit-scrollbar-thumb{
    -webkit-appearance: none;
    border-radius: 5px;
    background: #dedede;
}

.msg__textarea::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 5px;
}

.msg__textarea::-webkit-input-placeholder {
    color: #9ca3af;
}

.msg__textarea:-moz-placeholder { /* Firefox 18- */
    color: #9ca3af;
}

.msg__textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #9ca3af;
}

.msg__textarea:-ms-input-placeholder {
    color: #9ca3af;
}

textarea::placeholder {
    color: #9ca3af;
}

.msg__send__btn{
    margin: 0;
    padding:0;
    border: none;
    background-color:#142C41 ;
}

