html, body{
    /*font-size: 15px;*/
    /*line-height: 1.6;*/
    height: 100%;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    /*background-color: #142233;*/
    background-color: #141d2b;
    overflow: hidden;

}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.right__card__msg__list::-webkit-scrollbar,
.user__ul__list::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 5px;

}
.right__card__msg__list::-webkit-scrollbar-track,
.user__ul__list::-webkit-scrollbar-track{
    -webkit-appearance: none;
    border-radius: 5px;
    display: none;
}

.right__card__msg__list::-webkit-scrollbar-thumb,
.user__ul__list::-webkit-scrollbar-thumb{
    -webkit-appearance: none;
    border-radius: 5px;
    background: #dedede;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    /*background-color: #08264B;*/
    /*background-color:  #142C41;*/
    background-color:  #142330;


}

.msg__rm__card{

    /*position: fixed;*/
    /*margin: 0 auto;*/
    /*left: 50%;*/
    /*width: auto;*/
    /*!*max-width: 250px;*!*/
    /*background-color:#142233 ;*/
    /*border-radius: 5px;*/
    /*padding: 15px;*/
    /*display: none;*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #142233;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 5px;
}

.msg__rm__text{
    margin-bottom:10px ;
    color: #ffffff;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

}

.show__modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/*Drop Image*/
.drop__crop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.drop__crop__show{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.drop__crop__card__main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: #142233;*/
    padding: 1rem;
    width: 32rem;
    border-radius: 5px;
    height:auto;
    background-color: #142233;;
}

.drop__crop__card{
    position: relative;
    top: 50%;
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*background-color: #142233;*/
    /*padding: 1rem 1.5rem;*/
    width: 30rem;
    /*border-radius: 5px;*/
    /*height: 25rem;*/
}



.drop__crop__img{
    display: block;

    /* This rule is very important, please don't ignore this */
    max-width: 80%;

    visibility: hidden;
}

.drop__crop__done__icon{
    float: right;
    cursor: pointer;
}

.cropper-crop-box, .cropper-view-box {
    border-radius: 50%;
    /*width: 200px !important;*/
    /*height: 200px !important;*/

}

/*.cropper-crop-box{*/
/*    transform: translateX(230px) translateY(100px) !important;*/
/*}*/

/*.cropper-view-box{*/
/*    transform: translateX(-230px) translateY(-100px) !important;*/
/*}*/

.cropper-view-box {
    box-shadow: 0 0 0 1px #39f;
    outline: 0;
}

.cropper-container{
    padding: 10px !important;

}

canvas{
    max-width: 100% !important;
}


:root {
    --form-control-color: #ffffff;
    --form-control-disabled: #959495;
}

.msg__rm__chk__card{
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.msg__rm__chk__card:hover{
    background-color: #1A364F;
}

.msg__rm__chk__text {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1.2em auto;
    gap: 0.5em;
    color: #ffffff;
}

.msg__rm__chk {
    float: left;
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    /*margin-bottom: 0.15em;*/
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.20em;
    height: 1.15em;
    border: 0.10em solid #ffffff;
    border-radius: 0.15em;
    /*transform: translateY(-0.075em);*/

    display: grid;
    place-content: center;
}

.msg__rm__chk::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(1);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

.msg__rm__chk:checked::before {
    transform: scale(0);
}

.msg__rm__btn{
    margin-top:22px;
    text-align: center;
}

.msg__rm__cancel__btn{
    color: #5C65B1;
    /*float: left;*/
    /*width: 50%;*/
    cursor: pointer;
    font-weight: 400;
    margin-right: 5em;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}


.msg__rm__delete__btn{
    color: #F15135;
    cursor: pointer;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.msg__rm__cancel__btn:hover, .msg__rm__delete__btn:hover{
    background-color: #1A364F;
}

/*----SEARCH USER-----  */
.search__main{
    margin: 10px 0 10px 10px;
    display: flex;
}

.search__stick__card{
    width: 100%;
    background-color: red;
    /*display: inline-block;*/

    /*position: relative;*/
}

.search__stick{
    /*position: absolute;*/
    margin: auto 0;
    font-family: 'Kanit', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/

    width: 70%;
    height: 30px;
    padding: 15px;
    background-color: #142233;
    background-color: #2A3D4C;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-style: inherit;
    letter-spacing: 0.5px;
}

input[type=text] {
    outline: none;
    border-radius: 5px;
    border: none;
    caret-color: #00B2BE;
}

::placeholder{
    color:#A9A9A9;
    /*font-weight: 400;*/
    /*color:red;*/
    /*font-weight: 300;*/
    /*font-family: 'Fira Sans', sans-serif;*/
    font-family: 'Kanit', sans-serif;

}


/*--- USER LIST -----*/
.left__card{
    width: 38%;
    display: inline-block;
    border: 1px solid #142a3d;
    border-radius: 5px 0 0 5px;
    /*overflow: auto;*/
    height: 100%;

    overflow: hidden;
}

.user__list{


}

.user__ul__list{
    height: 93vh;
    overflow: hidden;
    padding: 10px;
    list-style: none;
    /*margin-bottom: 5px;*/
}

.user__ul__list:hover{
    overflow-y: scroll;
}



.user__li__list{
    /*margin-bottom: 10px;*/
    height: 65px;
    padding: 10px 0 0 0;
    transition-duration:0.5s ;
    color: #F5F5DC;
}

.user__li__list:hover {
    border-radius: 5px;
    background-color: #1C3851;
    cursor:pointer;
    /*color:	#000000 ;*/
}

.user__pr__name{
    margin-left: 20px;
    width: 400px;
    /*width: 90%;*/
}

.user__profile{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    /*display: inline-block;*/
    float: left;
}

.user__profile__letter{
    text-align: center;
    float: left;
    display: inline-block;
    /*background-color: #4BC87E;*/
    width: 3em;
    height: 3em;
    border-radius: 50%;
    line-height: 3em;
    vertical-align: middle;
}

.user__name__text{
    width: 70%;
    /*background-color: #9ca3af;*/
    /*display: inline-block;*/
    /*float: left;*/
}

.user__name{
    display: inline-block;
    /*height: 20px;*/
    margin-top:5px ;
    margin-left: 10px;
    font-size: 18px;

}

.user__last__text{
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 5px 0 10px;
    color: #DCDCDC;
}

.user__msg__time__notif{
    width: 15%;
    text-align: end;
/*position: absolute;*/
}

.column{
    /*display: inline-block;*/
    float: left;
}

.user__msg__time{
    display: block;
    margin-top:5px ;
    font-size: 0.7rem;
    color: #DCDCDC;
    font-weight: 300;
}

.user__msg__notif{
    font-size: 0.9rem;
    min-width: 25px;
    min-height: 24px;
    display: block;
    margin-top:5px ;
    /*background-color:#FF3131;*/
    /*background-color:#5C65B1;*/
    background-color:#ff0033;
    border-radius:100%;
    text-align: center;
    float: right;
    padding: 5px;
    border: none;
}


/*---- RIGHT CARD -----*/
.right__card{
    width: 62%;
    float: right;
    border: 1px solid #142a3d;
    border-radius: 0 5px 5px 0;
    /*height: 100vh;*/
    position: relative;

    background: url('../img/image/background10.jpg')
    center no-repeat;
    -webkit-background-size:cover;
    /*background-size: cover;*/
    background-color: #142330;
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%235c5e60' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");*/

    display: none;
    height: 100vh;
}

.right__card__select{
    width: 62%;
    float: right;
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;
    color: white;
    font-size: 18px;
    border-right: 1px solid #142a3d;
}

.right__card__header{
    height: 5vh;
}


/*---- MESSAGES LIST -----*/

.right__card__msg__list{
    height: 88vh;
    /*height: 100%;*/
    overflow-y: scroll;
    position: relative;
}

.msg__list__ul{
    font-size: 16px;
    list-style: none;
    margin: auto 0;
    padding-left: 0;
    width: 500px;
    max-width: 600px;
    font-weight: 400;
}

.msg__list__li{
    font-family: 'Nunito', sans-serif;
    /*display: block;*/
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5rem;
    display: flex;
    cursor: pointer;
}

.msg__card__left{
    border-radius: 5px 5px 5px 0;
    padding:5px 7px 0 7px;
    margin: 5px 0;
    /*background-color: #142C41;*/
    background-color: #2A3D4C;
    width: fit-content;
    max-width: 360px;
    cursor: auto;
}

.msg__card__right{
    display: block;
    padding:5px 7px 0 7px;
    /*background-color: #3b86d1;*/
    background-color: #00B2BE;
    width: fit-content;
    max-width: 360px;
    border-radius: 5px 5px 0 5px;
    margin: 7px 0 7px auto;
    cursor: auto;

}


.msg__text{
    display: block;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    white-space: pre-line;
    font-family: 'Fira Sans', sans-serif;
    width: 90%;
    max-width: 350px;
}

.msg__img__card{
    height: 200px;
    width: 100%;
    max-width: 200px;

    overflow: hidden;
    cursor: pointer;
}

.msg__img{
    /*-o-object-fit: cover;*/
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


.msg__time{
    font-weight: 500;
    font-size: 10px;
    color:#C3C3C3;
    padding:0 ;
    display: block;
}

/*REPLY*/
.reply__msg__main{
    cursor: pointer;

}

.reply__msg__border{
    display: inline-block;
    height: 10px;
    width: 2px;
    content: "";

}

.reply__msg__inf{
    display: inline-block;
}

.reply__msg__author{
    display: block;
    margin: 0;
    padding: 0;
}

.reply__msg__text{
    font-size:14px;
}

.reply__msg__main::before{
    display: inline-block;
    content: '';
    height: 35px;
    width: 2px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}



/* RIght Menu */
.msg__right__menu{
    position: fixed;
    z-index: 10000;


    width: fit-content;
    background-color:#1A364F ;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    display: none;
    font-size: 14px;
    line-height: 1;
}

.msg__right__menu__list{
    display: block;
    border-radius: 5px;
    padding: 7px 10px;
    transition-duration:0.2s ;
}

.msg__right__menu__list:hover{
    background-color:#234564 ;
    cursor: pointer;
}


/*----FORM----*/
.right__card__form{
    width: 60%;
    display: block;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    position: absolute;

    background-color: #142C41;
    background-color: #384A58;
    border-radius:5px;
    left: 50%;
    transform: translate(-50%);
}

.msg__reply{
    margin: 2px 4px 0 45px;
    padding: 10px;
    position: relative;
    display: none;
}

.msg__reply__border{
    height: 30px;
    width: 2px;
    display: inline-block;
    content: '';
    background-color:#0781F1 ;
    border-radius: 5px;
}

.msg__reply__inf{
    display: inline-block;
    font-size: 16px;
    /*width: 92%;*/
}

.msg__reply__author{
    color:#0781F1;
    margin-bottom: 3px;
}

.msg__reply__text{
    color:#778899 ;
}

.msg__reply__cros{
    float: right;
    cursor: pointer;
}


.msg__form{
    width: 100%;
    /*width: 65%;*/
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    /*position: relative;*/
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    /*background-color: #142C41;*/
    padding: 7px 0;
    /*border-radius: 5px;*/
}

textarea::placeholder {
    color: #9ca3af;
}

/*new*/
.div__textarea {
    display: block;
    min-height: 16px;
    max-height: 98px;
    overflow-x: auto;
    width: calc(100% - 103px);
    line-height: 16px;
    padding: 5px;
    font-size: 16px;
    float: left;
    color: #ffffff;
    outline: none;
}

.div__textarea::-webkit-scrollbar-track{
    -webkit-appearance: none;
    border-radius: 5px;
}

.div__textarea::-webkit-scrollbar-thumb{
    -webkit-appearance: none;
    border-radius: 5px;
    background: #dedede;
}

.div__textarea::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 5px;
}

.div__textarea::-webkit-input-placeholder {
    color: #9ca3af;
}

.div__textarea:-moz-placeholder { /* Firefox 18- */
    color: #9ca3af;
}

.div__textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #9ca3af;
}

.div__textarea:-ms-input-placeholder {
    color: #9ca3af;
}

.msg__send__btn{
    margin: 0;
    padding:0;
    border: none;
    /*background-color:#142C41 ;*/
    background-color:#384A58 ;
}

.msg__file__count{
    display: none;
    font-size: 14px;
    color: #ffffff;
    background-color:#5C65B1 ;
    border-radius:50%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 2px;
    padding: 5px 7px;
}

.msg__file__icon{
    margin: 0;

}


.st__header{
    margin: 10px 0 10px 10px;
    display: flex;
}

.st__header__back{
    float: left;
    /*margin-top: 5px;*/
    margin-right:10px ;
    cursor: pointer;
    padding: 8px 8px 5px 8px;
    transition: 0.2s;
    border-radius: 50%;
    /*width: 20%;*/
}

.st__header__back:hover{
    backdrop-filter: blur(6px);
    background-color: #1A364F;
}

.st__header__title{
    width: 85%;
    margin: auto 0;
}

.st__header__name{
    color: #ffffff;
    display: inline-block;
    margin: auto 20px;
    font-size: 18px;
}

.st__header__edit{
    cursor: pointer;
    transition: 0.2s;
    border-radius: 50%;
    margin:10px 10px 0 0 ;
    float: right;
    padding: 8px 8px 5px 8px;

}

.st__header__save{
    cursor: pointer;
    transition: 0.2s;
    border-radius: 50%;
    margin:10px 10px 0 0 ;
    float: right;
    padding: 8px 8px 5px 8px;
    display: none;
}

.st__header__edit:hover{
    backdrop-filter: blur(6px);
    background-color: #1A364F;
}

.st__header__save:hover{
    backdrop-filter: blur(6px);
    background-color: #1A364F;
}


.pages {
    margin: 0;
    display: flex;
    width: 300%;
    box-sizing: border-box;

    /*width: 40%;*/
    /*display: inline-block;*/
    /*border: 1px solid #213854;*/
    /*border-radius: 5px 0 0 5px;*/
    /*!*overflow: auto;*!*/
    /*!*height: 100%;*!*/

    /*overflow: hidden;*/
}

.layer{
    width: 100%;
    height: 100vh;
    transition: all 0.3s;
}

.page {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s;
    color: white;
}

.layer3__page1{
    visibility: hidden;
}

.layer3__page2{
    visibility: hidden;
    transform: translateY(-100%);
}
.layer3__page3{
    visibility: hidden;
    transform: translateY(-200%);
}

.layer3__page4{
    visibility: hidden;
    transform: translateY(-300%);
}

.layer3__page5{
    visibility: hidden;
    transform: translateY(-400%);
}





/*MObile Responsive */
@media only screen and (max-width: 768px) {
    .left__card{
        width: 100%;
    }

    .right__card{
        /*display: none;*/
    }

    .right__card__select{
        display: none;
    }

    .user__pr__name{
        margin-left: 20px;
        width: 340px;
        /*width: 90%;*/
    }

}

